.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  flex-flow: row wrap;
  justify-content: space-around;
}

.resultContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #f3f3f3;
  margin: 20px;
}